<div class="container">
    <br>
    <br>
    <br>
    <div class="row" *ngIf="showMovieListFlag">
        <table class="table table-bordered table-striped">
            <tr>
                <th scope="col">
                    Movie Title
                </th>
                <th>
                    Language
                </th>
                <th>
                    Location
                </th>
            </tr>
            <tr *ngFor="let movie of movieList">
                <td>
                    <span style="cursor: pointer;" (click)="movieSelection(movie)">{{movie.title}}</span>
                </td>
                <td>
                    {{movie.language}}
                </td>
                <td>
                    {{movie.location}}
                </td>
            </tr>
        </table>
    </div>
    <div class="row" *ngIf="showSelectedMovie">
        <app-selected-movie [movie]="selectedMovie" (backButtonClick)="displayList($event)"></app-selected-movie>
    </div>
</div>
